.schedule-container {
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    height: 950px;
    background-color: aliceblue;
}

.schedule-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    text-transform: capitalize;
}

.schedule-arrow {
    cursor: pointer;
}

.schedule-wrapper {
    padding: 20px;
}

.article-grid-item {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: beige;
    border: 2px solid black;
}

.schedule-grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.article-grid-item:hover {
    transform: scale(1.2);
}