.footer-container {
    height: 200px;
    background-color: darkslategrey;
}

.footer-wrapper {
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-wrapper > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-wrapper:before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: aliceblue;
}

.footer-wrapper:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-left: auto;
    background: aliceblue;
}