.restaurant-page-container{
    background-color: darkslategrey;
}

.restaurant-page-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.restaurant-page-header-content {
    min-height: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;
}

.restaurant-page-header-content > h2 {
    font-size: xx-large;
    padding: 45px;
}

.restaurant-page-desc{
    width: 60%;
    margin: auto;
    color: white;
}

.restaurant-page-info {
    background-color: aliceblue;

    margin: 20px 0;
    padding: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restaurant-page-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 15px;
}

.restaurant-page-contact > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.restaurant-page-contact strong{
    margin-left: 10px;
}


