.banner-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-wrapper {
    padding: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.banner-title {
    font-size: xx-large;
}