.list-item-container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    margin: 5px 0;
}

.list-item-wrapper {
    padding: 50px;
    background-color: rgba(47, 79, 79, 0.7);
    color: white;
    cursor: pointer;
}

.list-item-wrapper:hover {
    padding: 60px;
    background-color: rgba(47, 79, 79, 1);
    color: white;
}

.list-item-title {
    font-size: xx-large;
}